{% extends 'master_sidebar.html' %}
{% load thumbnail %}

{% block 'aside' %}
	{% thumbnail flyer.image "512x256" crop="center" as im %}
		<figure class="image is-2by1 is-marginless">
			<img class="is-block" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		</figure>
	{% endthumbnail %}
	<h1>{{ flyer.title }}</h1>
	<div class="content">
		{{flyer.desc}}
	</div>
{% endblock %}

{% block 'main' %}
	{% if products %}
		{% for p in products %}
			<div class="notification is-radiusless">
				<div class="columns is-desktop">
					<div class="column is-3-desktop">
						{% thumbnail p.image "400x300" crop="center" as im %}
							<figure class="image is-4by3 is-marginless">
								<img class="is-block" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
							</figure>
						{% endthumbnail %}
					</div>
					<div class="column is-9-desktop">
						<h3>{{ p.name }}</h3>
						<p>{{ p.desc|truncatewords:20 }}</p>
						<div class="tags">
							<p class="tag is-medium is-dark"><span class="is-size-5"><del>{{p.r_price}}</del></span> - <span class="is-size-4 has-text-weight-bold">{{ p.s_price }}</span></p>
							<p class="tag is-medium is-info">Valid Till {{ p.flyer.date_expired }}</p>
						</div>
						
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	
	{% if coupons %}
		<h2>Coupons From {{ store.name }}</h2>
		{% for p in coupons %}
			<div class="box">
				<div class="columns is-desktop">
					<div class="column is-3-desktop">
						{% thumbnail p.product.image "400x300" crop="center" as im %}
							<figure class="image is-4by3 is-marginless">
								<img class="is-block" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
							</figure>
						{% endthumbnail %}
					</div>
					<div class="column is-9-desktop">
						<h3>{{ p.product.name }}</h3>
						<p>{{ p.product.desc|truncatewords:20 }}</p>
						<div class="tags">
							<p class="tag is-medium is-dark"><span class="is-size-5"><del>{{p.product.r_price}}</del></span> - <span class="is-size-4 has-text-weight-bold">{{ p.product.s_price }}</span></p>
							<p class="tag is-medium is-info">Valid Till {{ p.date_expired }}</p>
						</div>
						
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}