html {
	word-wrap: break-word;
	/*padding-top: 123px;*/
}

/*.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}*/

.card-content {
	padding: .75rem;
}

.column {
	min-height: 100%;
}

figcaption {
	padding: .25rem .5rem;
}

@media screen and (min-width: 1088px) {
	#Logo {
		margin-left: .75rem;
	}
	.container.is-fluid {
	    margin-left: 1rem;
	    margin-right: 1rem;
	}
}