{% extends 'master.html' %}
{% load thumbnail %}
{% load static %}

{% block 'content' %}

<div id="Stores" class="section has-background-white bg">
	<div class="container">
		<h2 class="has-text-white">Hand-Picked Offers From Stores & Brands You Love</h2>		
		{% if stores %}
		<div class="box is-radiusless">
			<div class='carousel carousel-animated carousel-animate-slide has-text-centered' data-size="5">
				<div class='carousel-container'>
					{% for s in stores|slice:':10' %}   
						{% thumbnail s.store_logo "180x90" crop="center" as im %}
							<div class='carousel-item'>
								<figure class="image is-2by1 is-marginless">
									<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
								</figure>
								<div class="title">{{s.store}}</div>
							</div>
						{% endthumbnail %}
					{% endfor %}		
				</div>
				<div class="carousel-navigation is-overlay">
					<div class="carousel-nav-left">
						<span class="icon is-large"><i class="fas fa-3x fa-caret-square-left"></i></span>
					</div>
					<div class="carousel-nav-right">
						<span class="icon is-large"><i class="fas fa-3x fa-caret-square-right"></i></span>
					</div>
				</div>
			</div>
			<a class="button is-dark is-outlined" href="/">View All Stores</a>
		</div>
		{% else %}
			<p class="heading is-size-3">Nothing to display</p>
		{% endif %}
	</div>
</div>

<div id="Coupons" class="section">
	<div class="container">
		<h2>Latest Coupons</h2>		
		{% if coupons %}
			<div class="columns is-multiline">
				{% for c in coupons %}
					<div class="column is-3-desktop is-4-tablet">
						<div class="card" style="min-height: 100%;">
							<div class="card-image">
								{% thumbnail c.product_image "400x300" crop="center" as im %}
									<figure class="image is-4by3 is-marginless">
										<img src="{{im.url}}" alt="Placeholder image">
									</figure>
								{% endthumbnail %}
							</div>
							<div class="card-content">
								<div class="content">
									<h3 class="is-size-6">{{c.product}}</h3>
									<p class="is-size-7">{{c.product_desc|truncatewords:25|safe}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}