{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FA6EEN</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="icon" href="{% static 'images/shopping-cart.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <header class="fixed">
        {% include 'navbar.html' %}
        <div class="notification is-info is-radiusless is-marginless" style="padding: 1rem;">
            <div class="container is-fluid">
               <div class="field has-addons is-marginless">
                    <p class="control">
                        <p class="select">
                            <select style="border-radius: 0;">
                                <option>SELECT CITY</option>
                                <option>JEDDAH</option>
                                <option>RIYADH</option>
                            </select>
                        </p>
                    </p>
                    <p class="control is-expanded">
                        <input type="text" class="input" name="query">
                    </p>
                    <p class="control">
                        <button type="submit" class="button" name="Search" value="Search" >Search</button>
                    </p>
                </div>
            </div>
        </div>
    </header>
    
    <main class="content is-marginless">
    	{% block 'content' %}{% endblock %}
    </main>

    <footer class="footer has-background-black">
        
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
</body>
</html>