{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FA6EEN</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="icon" href="{% static 'images/shopping-cart.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <header>
        {% include 'navbar.html' %}
    </header>

    <main class="content is-marginless">
    	<div class="columns is-desktop is-marginless is-paddingless">
            <div class="column is-3-desktop is-marginless is-paddingless" style="border-right: 1px solid #eee;">
                <div class="section">
                    {% include 'aside.html' %}
                </div>
            </div>
            <div class="column is-9-desktop is-marginless is-paddingless">
                <div class="section">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input class="input is-primary is-large" type="text" placeholder="Search">
                        </p>
                        <p class="control">
                            <a class="button is-primary is-large"><span class="icon is-medium"><i class="fas fa-search"></i></span></a>
                        </p>
                    </div>
                    {% block 'main' %}{% endblock %}
                </div>
            </div>
        </div>
    </main>

    <footer class="footer has-background-black">
        
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
</body>
</html>