{% load static %}

<nav class="navbar is-primary is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-size-4" href="{% url 'index' %}">Fa6een</a>
            <div class="navbar-burger burger is-hidden" data-target="navMain">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMain" class="navbar-menu is-hidden">
            <div class="navbar-end">

            </div>
        </div>
    </div>
</nav>