{% load static %}

<nav class="navbar is-white">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a id="Logo" class="navbar-item has-background-white" href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" alt="Faseen"></a>
            <div class="navbar-burger burger" data-target="navMain">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMain" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-uppercase" href="">All Stores</a>
                    <div class="navbar-dropdown">
                        {% for s in STORES_MENU %}
                            <a class="navbar-item" href="{% url 'store_detail' s.slug %}">{{s.name|title}}</a>
                        {% endfor %}
                    </div>
                </div>
                <a class="navbar-item is-uppercase" href="">Categories</a>
                <a class="navbar-item is-uppercase" href="">Blog</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped has-text-right" style="align-items: center;">
                        {% if not user.is_authenticated %}
                            <p class="control">
                                <a class="button is-dark is-outlined" href=""><span class="icon"><i class="fas fa-sign-in-alt"></i></span><span>LOGIN</span></a>
                            </p>
                            <p class="control">
                                <a class="button is-dark is-outlined" href=""><span class="icon"><i class="fas fa-user-plus"></i></span><span>REGISTER</span></a>
                            </p>
                        {% else %}
                            <p class="control">
                                <a class="button is-dark is-outlined is-uppercase" href="">Welcome {{ user.username }}</a>
                            </p>
                            <p class="control">
                                <a class="button is-dark is-outlined" href=""><span class="icon"><i class="fas fa-sign-out-alt"></i></span><span>LOGOUT</span></a>
                            </p>
                        {% endif %}
                        <p class="control">
                            <a class="button is-warning" href=""><span class="icon"><i class="fas fa-shopping-cart"></i></span><span>0</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>